<!-- Status bar overlay for fullscreen mode-->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Views-->
<div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="./" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a>
                </div>
                <!-- We have home navbar without left link-->
                <div class="center sliding">
                    あなたの興味を選択
                </div>
            </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, data-page contains page name-->
            <div data-page="next" class="page">
                <!-- Search bar -->
                <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar">
                    <div class="searchbar-input">
                        <input type="search" placeholder="気になるワードを検索"><a href="#" class="searchbar-clear"></a>
                    </div>
                    <a href="#" class="searchbar-cancel">Cancel</a>
                </form>

                <!-- Search bar overlay -->
                <div class="searchbar-overlay"></div>

                <!-- Scrollable page content-->
                <div class="page-content">

                    <div class="content-block-title">カテゴリ</div>
                    <div class="list-block">
                        <ul>
                            <% @categories.each do |category| %>
                            <li class="swipeout">
                              <div class="swipeout-content item-content">
                                <div class="item-inner">
                                  <div class="item-title">
                                    <% unless category['children'].count == 0 then %>
                                      <a href="/logins/next/<%=category['id'] %>" class="item-link">
                                    <% else %>
                                      <a href="#" class="item-link">
                                    <% end %>
                                    <%=category['name'] %>
                                    </a>
                                  </div>
                                  <div class="item-after">
                                  <span class="badge"><%=category['children'].count unless category['children'].count == 0 %></span>
                                  </div>
                                </div>
                              </div>
                              <div class="swipeout-actions">
                                <div class="swipeout-actions-inner">
                                  <a href="#" class="add-interest">+</a>
                                </div>
                              </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>