<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <%= csrf_meta_tags %> -->
    <script type="text/javascript" src="/assets/common/main/mainpage.js"></script>
    <link rel="stylesheet" href="/assets/common/mainpage.css" type="text/css">
  </head>
  <body class="main">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="views">
      <!-- Main view has "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only open-panel">
                +
              </a>
            </div>
            <div class="center sliding">
              <%= @category.interest %>を初めて学ぶには
            </div>
            <div class="right">
              <a href="#" class="link icon-only open-panel">
                <i class="icon icon-bars-blue"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <!-- For dynamic page rendering -->
          <div data-page="main" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
              <!-- 下のhrefの意味はuser_id==3のひとにマッチングする人を要求してる -->
              <!-- <a href="matching/3" id="main-page"></a> -->
                <div class="answerPanels">
                  あああを学ぶにはまずは<br>
                  そうです。<br>
                  にゃなｎ<br>
                  ああああ<br>
                  手元にあったんで<br>
                  あんｇちゅあｇｒｄｎ<br>
                  そんなこともあるかもしれません。
                  以下略
                </div>
                <div class="answerPanels">いいいを学ぶにはまず</div>
                <div class="answerPanels">えええを学ぶにはまず</div>
                <div class="answerPanels">おおおを学ぶにはまず</div>
                <div class="answerPanels">
                  あああを学ぶにはまずは<br>
                  そうです。<br>
                  にゃなｎ<br>
                  ああああ<br>
                  手元にあったんで<br>
                  あんｇちゅあｇｒｄｎ<br>
                  そんなこともあるかもしれません。
                  以下略
                </div>
                <div class="answerPanels">いいいを学ぶにはまず</div>
                <div class="answerPanels">えええを学ぶにはまず</div>
                <div class="answerPanels">おおおを学ぶにはまず</div>
                <div class="answerPanels">
                  あああを学ぶにはまずは<br>
                  そうです。<br>
                  にゃなｎ<br>
                  ああああ<br>
                  手元にあったんで<br>
                  あんｇちゅあｇｒｄｎ<br>
                  そんなこともあるかもしれません。
                  以下略
                </div>
                <div class="answerPanels">いいいを学ぶにはまず</div>
                <div class="answerPanels">えええを学ぶにはまず</div>
                <div class="answerPanels">おおおを学ぶにはまず</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Popup -->
    <div class="popup popup-about">
      <div id="requireAnswer" class="content-block">
        <h3>先にあなたの経験を教えて下さい</h3>
        <div class="list-block">

          <ul>
            <!-- Additional "align-top" class for correct textarea alignment -->
            <li class="align-top">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">初めに何した？</div>
                  <div class="item-input">
                    <textarea id="firstStep"></textarea>
                  </div>
                </div>
              </div>
            </li>

            <!-- Additional "align-top" class for correct textarea alignment -->
            <li class="align-top">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">その後は？</div>
                  <div class="item-input">
                    <textarea id="secondStep"></textarea>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--p><a href="#" class="close-popup">Close popup</a></p-->
        <a href="#" id="answerSubmit" class="button button-submit">送信</a>
      </div>
    </div>
    <!-- notification Popup -->
    <div class="popup popup-notification">
      <div class="footerNotification">
        <h3>あなたの興味のある<%= @category.interest %>が<br>モザイクになっています</h3>
        <p>どれかモザイクをタップしてください</p>
        <a href="#" data-panel="center" class="button active closeFooterNotification">OK</a>
      </div>
    </div>

    <script type="text/javascript" src="/assets/fw7/framework7.min.js"></script>
    <script type="text/javascript" src="/assets/myapps/mainpage-app.js"></script>
  </body>
</html>