<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <%= csrf_meta_tags %> -->
    <script type="text/javascript" src="/assets/common/main/mainpage.js"></script>
    <link rel="stylesheet" href="/assets/common/mainpage.css" type="text/css">
  </head>
  <body class="main">
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-right panel-reveal">
      <div class="list-block">
        <ul>
          <li>
            <a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Profile</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">About</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="views">
      <!-- Main view has "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="center sliding">
              <%= @user[:interests][0][:category]['name'] %>を初めて学ぶには
            </div>
            <div class="right">
              <a href="#" class="link icon-only open-panel">
                <i class="icon icon-bars-blue"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="pages navbar-through toolbar-through">
          <!-- For dynamic page rendering -->
          <div data-page="main" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
              <!-- 下のhrefの意味はuser_id==3のひとにマッチングする人を要求してる -->
              <!-- <a href="matching/3" id="main-page"></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Popup -->
    <div class="popup popup-submit">
      <div id="requireAnswer">
        <div class="content-block-title">先にあなたの経験を教えて下さい</div>
        <div class="list-block inset">

          <ul>
            <!-- Additional "align-top" class for correct textarea alignment -->
            <li class="align-top">
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-input">
                    <input type="text" id="hts-title" placeholder="Title">
                  </div>
                </div>
              </div>
            </li>

            <!-- Additional "align-top" class for correct textarea alignment -->
            <li class="align-top">
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-settings"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input type="text" id="hts-category" placeholder="Category">
                    <!-- <input type="hidden" id="hts-category-id"> -->
                  </div>
                </div>
              </div>
            </li>

            <!-- Additional "align-top" class for correct textarea alignment -->
            <li class="align-top">
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-comment"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <textarea id="hts-content" placeholder="Content"></textarea>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <p><a href="#" id="answerSubmit" class="button button-submit">送信</a></p>
        <p><a href="#" id="answerCancel" class="button button-cancel">キャンセル</a></p>
      </div>
    </div>
    <!-- notification Popup -->
    <div class="popup popup-notification">
      <div class="footerNotification">
        <h3>あなたの興味のある<%= @user[:interests][0][:category]['name'] %>が<br>モザイクになっています</h3>
        <p>どれかモザイクをタップしてください</p>
        <a href="#" data-panel="center" class="button active closeFooterNotification">OK</a>
      </div>
    </div>

    <script type="text/javascript" src="/assets/fw7/framework7.min.js"></script>
    <script type="text/javascript" src="/assets/fw7/framework7.3dpanels.js"></script>
    <script type="text/javascript" src="/assets/myapps/mainpage-app.js"></script>
  </body>
</html>