@mixin mw($width, $margin_bottom : 0px){
    margin: 0 auto $margin_bottom;
    width: $width;
}

@mixin opacity($alphavalue, $important : false) {
    @if $important {
        opacity: $alphavalue;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{ $alphavalue * 100 })"; // for IE 8
        filter: alpha(opacity=#{ $alphavalue * 100 }); // for IE 5-7
    }@else{
        opacity: $alphavalue !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{ $alphavalue * 100 })" !important; // for IE 8
        filter: alpha(opacity=#{ $alphavalue * 100 }) !important; // for IE 5-7
    }
}

@mixin radius($rad){
    border-radius: $rad;
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
}

%button {
    border-radius: 24px;
    float: left;
    font-size: 16px;
    height: 38px;
    line-height: 35px;
    margin-right: 16px;
    padding: 2px 23px 2px 16px;
}
