/*
    * This is a manifest file that'll be compiled into application.css, which will include all the files
    * listed below.
    *
    * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
    * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
    *
    * You're free to add application-wide styles to this file and they'll appear at the bottom of the
    * compiled file so the styles you add here take precedence over styles defined in any styles
    * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
    * file per style scope.
    *
    *= require_tree .
    *= require_self
    *= require fw7/framework7.min
    *= require fw7/framework7.3dpanels.min
    *= require fw7/3dPanel
    *= require common/login
*/
@import 'common';

.footerNotification {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: rgba(13, 181, 13, 0.91);
    color:white;
    padding:5px;
    display: none;
    text-align: center;
    height: 170px;
    z-index: 99;
    h3{
        font-weight: 500;
        letter-spacing: 3px;
        margin: 20px 0 40px;
        font-size: 15px;
    }
    h3.select{margin: 20px 0 10px;}
    .select_cat{
        font-size: 21px;
        padding-right: 10px;
    }
    .button{
        color: #fff;
        border: 1px solid #fff;
        padding: 6px 0 30px;
        &.active{background-color: #FFBD2D;}
    }
    a{
        margin:3px;
        margin-right: 10px;
        &#cancel{@include opacity(0.7);}
    }
}
a:hover{
    @include opacity(0.4);
}
#answerCancel{
    
}
/* clearfix */
.cf:before,
.cf:after {content:""; display:block; overflow:hidden;}
.cf:after {clear:both;}
/*For IE 6/7 (trigger hasLayout) */
.cf {zoom: 1; clear: both;}
.cl{clear: both}
