// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 
@mixin mw($width, $margin_bottom : 0px){
    margin: 0 auto $margin_bottom;
    width: $width;
}

@mixin opacity($alphavalue, $important : false) {
    @if $important {
        opacity: $alphavalue;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{ $alphavalue * 100 })"; // for IE 8
        filter: alpha(opacity=#{ $alphavalue * 100 }); // for IE 5-7
    }@else{
        opacity: $alphavalue !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{ $alphavalue * 100 })" !important; // for IE 8
        filter: alpha(opacity=#{ $alphavalue * 100 }) !important; // for IE 5-7
    }
}

@mixin radius($rad){
    border-radius: $rad;
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
}

%button {
    border-radius: 24px;
    float: left;
    font-size: 16px;
    height: 38px;
    line-height: 35px;
    margin-right: 16px;
    padding: 2px 23px 2px 16px;
}

.navbar{
    display: none;
    .sliding{font-family: 'Pacifico', cursive;}
}
.page[data-page="index"]{
    background-image: url('/img/top_bg_blur.png');
    background-size: 321px 568px;
    .content-block-title{
        font-family: 'Vollkorn', serif;
        font-size:43px;
        color: #fff;
        text-align:center;
        text-shadow: rgba(0,0,0,0.8) 0 1px 1px;
    }
    .content-block{
        @include mw(245px);
        &.login-fb{
            bottom: 55px;
            position: absolute;
            left: 0;
            right: 0;
        }
        a.button.fb{
            @extend %button;
            background: #3b72bd;
            color: #fff;
            img{
                float: left;
                width: 33px;
            }
            .mv-btn-txt {float: left;}
            &:hover{
                @include opacity(0.4);
            }
        }
        .content-block-inner{
            background: none;
            border: none;
            text-align: center;
            h4{
                text-shadow: rgba(0,0,0,0.19) 0 1px 0.1px;
                letter-spacing: 1px;
                color: #F9F9F9;
                font-weight: 200;
                margin: 0;
            }
            span.supporting-text {
                display: none;
                font-size: 12px;
                color: #3C3C35;
            }
            // span.topic-text {
            //     color: #F9F9F9;
            //     display: block;
            //     font-weight: 200;
            //     margin-top: 0;
            //     padding-top: 0;
            //     font-size: 11px;
            //     letter-spacing: 2px;
            // }
            p{
                text-shadow: rgba(0, 0, 0, 0.29) 0 1px 0.1px;
                letter-spacing: 1px;
                color: #F9F9F9;
                font-weight: 200;
                margin: 0;
                margin-top: 11px;
            }
        }
    }
}

.footerNotification {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #2ecc71;
    color:white;
    padding:5px;
    display: none;
    a{
        margin:3px;
        margin-right: 10px;
    }
}

/* clearfix */
.cf:before,
.cf:after {content:""; display:block; overflow:hidden;}
.cf:after {clear:both;}
 /*For IE 6/7 (trigger hasLayout) */
.cf {zoom: 1; clear: both;}
.cl{clear: both}