<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <%= csrf_meta_tags %> -->
  </head>
  <body>
        <!-- Status bar overlay for fullscreen mode-->
        <div class="statusbar-overlay"></div>
        <!-- Panels overlay-->
        <div class="panel-overlay"></div>
        <!-- Left panel with reveal effect-->
        <!--div class="panel panel-left panel-reveal">
          <div class="content-block">
            <p>Left panel content goes here</p>
          </div>
        </div>
        <!-- Right panel with cover effect-->
        <!--div class="panel panel-right panel-cover">
          <div class="content-block">
            <p>Right panel content goes here</p>
          </div>
        </div>
        <!-- Views-->
        <div class="views">
            <!-- Your main view, should have "view-main" class-->
            <div class="view view-main">
                <!-- Top Navbar-->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="index1.html" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a>
                        </div>
                        <!-- We have home navbar without left link-->
                        <div class="center sliding">経済</div>
                    </div>
                </div>
                <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
                <div class="pages navbar-through toolbar-through">
                    <!-- Page, data-page contains page name-->
                    <div data-page="register_leaf" class="page">
                        <!-- Scrollable page content-->
                        <div class="page-content">


                            <div class="list-block">
                                <ul>
                                    <li><a href="about.html" class="item-link">
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">経営</div>
                                                </div>
                                            </div></a></li>
                                    <li><a href="services.html" class="item-link">
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">経理</div>
                                                    <div class="item-title">投資</div>
                                                </div>
                                            </div></a></li>
                                </ul>
                            </div>
                            <div class="footerNotification">
                                <h3>お知らせ</h3>
                                <p>「経済」カテゴリでは、より専門的な内容を選択することが出来ます。</p>
                                    <div class="row">
                                      <div class="col-50"><a href="#" data-panel="left" class="button">経済</a></div>
                                      <div class="col-50"><a href="#" id="sel-cat" data-panel="right" class="button active">選択する</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Path to Framework7 Library JS-->
        <script type="text/javascript" src="/assets/framework7.min.js"></script>
        <!-- Path to your app js-->
        <script type="text/javascript" src="/assets/my-app.js"></script>
    </body>
</html>